<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sick Muse - a Collectd Front-end</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sick Muse is a front-end for Collectd round robin database files.">
    <meta name="author" content="Mark Lavin">
    {% block css %}
        {% if debug %}
            <link rel="stylesheet/less" type="text/css" href="{{ static_url('less/sickmuse.less') }}" />
            <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.3.1/less.min.js"></script>
        {% else %}
            <link href="{{ static_url('css/sickmuse.css') }}" rel="stylesheet">
        {% end %}
    {% end %}
</head>
<body id="{% block body-id %}body{% end %}" {% block body-data %}{% end %}>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="logo" href="{{ reverse_url('index') }}">
                    <img height="32" width="32" src="{{ static_url('img/logo.png') }}" alt="Logo">
                </a>
                <a class="brand" href="{{ reverse_url('index') }}">Sick Muse</a>
                <span class="tagline">a <a href="http://collectd.org/">Collectd</a> front-end.</span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="main">
            {% block breadcrumb-wrapper %}
            <ul class="breadcrumb">
                {% block breadcrumb-items %}
                <li><a href="{{ reverse_url('index') }}">Home</a></li>
                {% end %}
            </ul>
            {% end %}
            {% block content %}{% end %}
        </div>
    </div>
    {% block footer %}
    <div id="footer" class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a href="https://github.com/mlavin/sickmuse">Sick Muse</a> v{{ __version__ }}.
                Built with <a href="http://www.tornadoweb.org/" target="_blank">Tornado Web</a> and
                <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>.
                Graphs by <a href="http://www.flotcharts.org/" target="_blank">Flot</a>.
                Icons by <a href="http://fortawesome.github.com/Font-Awesome/" target="_blank">Font Awesome</a>.
                Logo based on <a href="http://thenounproject.com/noun/heart/#icon-No8607" target="_blank">Heart</a> designed by <a href="http://thenounproject.com/HenrikLundMikkelsen" target="_blank">Henrik Lund Mikkelsen</a> from The Noun Project.
            </div>
        </div>
    </div>
    {% end %}
    {% block javascript %}{% end %}
</body>
</html>
