{% extends "base.html" %}

{% block body-id %}host{% end %}

{% block body-data %}data-spy="scroll" data-target="#pluginbar"{% end %}

{% block breadcrumb-items %}
    <li><a href="{{ reverse_url('index') }}">Home</a> <span class="divider">/</span></li> <li>{{ host_name }}</li>
{% end %}

{% block content %}
    <h1><i class="icon-hdd"></i> {{ host_name }}</h1>
    {% for name in host_info['plugins'] %}
    <div class="plugin-wrapper">
        <div class="row-fluid">
            <h3 id="{{ name }}-graph" class="plugin-title span6"><i class="icon-bar-chart"></i> {{ name }}</h3>
            <div id="{{ name }}-graph-canvas-controls" class="span6 graph-controls">
                <form action="" method="get">
                    <a class="btn reset-zoom" href="#" style="display:none;"><i class="icon-refresh"></i> Reset Zoom</a>
                    <select class="date-range">
                        {% for value, data in date_range %}
                            <option value="{{ value }}">{{ data['label'] }}</option>
                        {% end %}
                    </select>
                    <a class="btn btn-small" title="Expand/collapse" 
                        data-toggle="collapse" data-target="#{{ name }}-graph-wrapper">
                        <i class="icon-off"></i>
                    </a>
                </form>
            </div>
        </div>
        <div class="graph-wrapper collapse in" id="{{ name }}-graph-wrapper">
            <div class="row-fluid">
                <div id="{{ name }}-graph-canvas" class="plugin-graph span12"
                    data-url="{{ reverse_url('api-detail', host_name, name) }}" data-host="{{ host_name }}" data-plugin="{{ name }}"></div>
            </div>
            <div class="row-fluid">
                <div class="plugin-legend span12">
                    <ul id="{{ name }}-graph-canvas-legend" class="nav nav-pills"></ul>
                </div>
            </div>
        </div>
    </div>
    {% end %}
{% end %}

{% block footer %}
    <div id="pluginbar" class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container-fluid">
                <ul class="nav">
                    {% for index, name in enumerate(host_info['plugins']) %}
                        <li{% if index == 0 %} class="active" {% end %}><a href="#{{ name }}-graph">{{ name }}</a></li>
                    {% end %}
                </ul>
            </div>
        </div>
    </div>
{% end %}

{% block javascript %}
<script data-main="{{ static_url_prefix }}js/sickmuse{% if not debug %}-built{% end %}" 
    src="{{ static_url('libs/requirejs/require.js') }}"></script>
{% end %}
