{% extends "base.html" %}

{% block body-id %}home{% end %}

{% block breadcrumb-wrapper %}{% end %}

{% block content %}
    <h1><i class="icon-dashboard"></i> Available Hosts</h1>
    {% set last_host = len(plugin_info) - 1 %}
    {% for index, host in enumerate(plugin_info) %}
        {% if index == 0 %}
            <div class="row-fluid hosts">
        {% end %}
        <div class="span6 host">
            <h3><i class="icon-hdd"></i> <a href="{{ reverse_url('host-detail', host) }}">{{ host }}</a></h3>
            <span class="badge">{{ len(plugin_info[host]['plugins']) }} Plugins</span>
            {% set plugins = plugin_info[host]['plugins'] %}
            {% set last_plugin = len(plugins) - 1 %}
            {% for i, plugin in enumerate(plugins) %}
                <a href="{{ reverse_url('host-detail', host) }}#{{ plugin }}-graph">{{ plugin }}</a>{% if i != last_plugin %},{% end %}
            {% end %}
        </div>
        {% if index % 2 == 1 or index == last_host %}
            </div>
            {% if index != last_host %}
                <div class="row-fluid hosts">
            {% end %}
        {% end %}
    {% end %}
{% end %}
