*.py[co]
.project
.pydevproject
*~
*.db
*.orig
.coverage
.tox
docs/_build/*
dist/*
build/*
*.egg-info/*
.eggs/*
sickmuse/static/libs/
sickmuse/static/css/sickmuse.css
sickmuse/static/js/sickmuse-built.js
