include README.rst
include LICENSE
include AUTHORS
include sickmuse/static/.bowerrc
include sickmuse/static/favicon.ico
include sickmuse/static/component.json
include sickmuse/static/css/*.css
include sickmuse/static/font/*
include sickmuse/static/img/*
include sickmuse/static/js/*.js
include sickmuse/static/js/models/*.js
include sickmuse/static/js/views/*.js
include sickmuse/static/less/*.less
include sickmuse/static/libs/backbone/LICENSE
include sickmuse/static/libs/backbone/backbone.js
include sickmuse/static/libs/bootstrap/LICENSE
include sickmuse/static/libs/bootstrap/img/*.png
include sickmuse/static/libs/bootstrap/js/bootstrap-scrollspy.js
include sickmuse/static/libs/bootstrap/js/bootstrap-collapse.js
include sickmuse/static/libs/bootstrap/less/*.less
include sickmuse/static/libs/flot/LICENSE.txt
include sickmuse/static/libs/flot/jquery.flot.js
include sickmuse/static/libs/flot/jquery.flot.stack.js
include sickmuse/static/libs/flot/jquery.flot.time.js
include sickmuse/static/libs/flot/jquery.flot.resize.js
include sickmuse/static/libs/flot/jquery.flot.selection.js
include sickmuse/static/libs/font-awesome/README.md
include sickmuse/static/libs/font-awesome/font/*
include sickmuse/static/libs/font-awesome/less/font-awesome.less
include sickmuse/static/libs/jquery/jquery.js
include sickmuse/static/libs/requirejs/LICENSE
include sickmuse/static/libs/requirejs/require.js
include sickmuse/static/libs/underscore/LICENSE
include sickmuse/static/libs/underscore/underscore.js
include sickmuse/templates/*.html
