/*
Colors based on: 
    http://www.colourlovers.com/palette/2402401/Candy_Muse
    http://www.colourlovers.com/palette/184880/homeland_security
*/

@linkColor: #84C7E2;
@linkColorHover: #D4EDF4;

@infoText: #3566CD;
@successText: #009A66;
@orange: #FF6401;
@errorText: #CB0032;

body {
    // http://subtlepatterns.com/3px-tile/
    background: url('/static/img/px_tile.png');
}

#main {
    margin-top: @baseLineHeight;
    margin-bottom: @navbarHeight * 3;
    padding: 20px;
    background: white;
    .border-radius(5px);
}

.navbar {
    .logo {
        float: left;
        padding: ((@navbarHeight - 32) / 2) 0;
        margin-right: 5px;
    }

    .brand {
        padding: ((@navbarHeight - @baseLineHeight) / 2) 10px ((@navbarHeight - @baseLineHeight) / 2) 20px;
    }

    .tagline {
        display: block;
        padding: ((@navbarHeight - @baseLineHeight) / 2) 0;
    }
}

#footer {
    .container-fluid {
        padding: ((@navbarHeight - @baseLineHeight) / 2) 20px;
    }
}

#home {
    .hosts {
        .host {
            background: @white;
            .border-radius(10px);
            .box-shadow(0 0 10px rgba(0,0,0,.25));
            padding: 10px;
            margin-bottom: 20px;
        }
    }
}

#host {
    .graph-controls {
        form {
            .pull-right;
            margin: 10px 10px 10px 0;
            select {
                margin: 0;
            }
        }
    }

    .plugin-graph {
        height: 300px;
    }

    .plugin-legend {
        ul {
            li {
                .box-wrapper {
                    margin-right: 4px;
                    padding: 1px 2px;
                }
                .color-box {
                    display: inline-block;
                    width: 4px;
                }
            }
        }
    }
}
